:root {
  font-size: 62.5%;

  --font-size-100: 1.3rem;
  --font-size-200: 1.8rem;
  --font-size-300: 2.5rem;
  --font-size-400: 3.5rem;
  --font-size-500: 3.7rem;

  --clr-white-100: #ffffff;
  --clr-white-200: #e2e2e2;
  --clr-white-300: #c4c4c4;
  --clr-black-100: #1d1c1a;
  --clr-black-200: #302e29;
  --clr-black-300: #585854;
  --clr-orange-100: #ff7b00;
  --clr-orange-200: #ee790b;
  --clr-orange-300: #b45700;
  --bg-tranparent--: rgba(49, 49, 49, 0.5);

  --border-radius-100: 10px;
  --border-radius-200: 20px;
  --border-radius-300: 30px;
}
@media screen and (min-width: 768px) {
  :root {
    --font-size-100: 1.5rem;
    --font-size-200: 2rem;
    --font-size-300: 2.7rem;
    --font-size-400: 3.7rem;
    --font-size-500: 5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 200vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-black-100);
  color: var(--clr-white-100);
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* Font-Size */
.big-heading {
  font-size: var(--font-size-500);
}
.small-heading {
  font-size: var(--font-size-300);
}
.icon-heading {
  display: flex;
  align-items: center;
  font-size: var(--font-size-300);
  color: var(--clr-white-300);
  gap: 1.5rem;
}
.heading {
  /* font-weight: normal; */
  font-size: var(--font-size-400);
}
.txt {
  font-size: var(--font-size-200);
}
.big-txt {
  font-size: var(--font-size-300);
}
.small-txt {
  font-size: var(--font-size-100);
}

/* Text COlors */
.white {
  color: var(--clr-white-100);
}
.gray {
  color: var(--clr-white-300);
}
.orange {
  color: var(--clr-orange-100);
}

/* Text Gradient Colors */
.gradient-one {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--clr-orange-100),
    rgb(55, 255, 255)
  );
  -webkit-background-clip: text;
}
.gradient-two {
  color: transparent;
  background: linear-gradient(to right, var(--clr-orange-100), white);
  -webkit-background-clip: text;
}

/* Margin */
.mgy-100 {
  margin: 1rem 0;
}
.mgy-200 {
  margin: 2rem 0;
}
.mgy-300 {
  margin: 3.5rem 0;
}
.mg-top-100 {
  margin-top: 1rem;
}
.mg-top-200 {
  margin-top: 2rem;
}
.mg-top-300 {
  margin-top: 3.5rem;
}
.mg-bottom-100 {
  margin-bottom: 1rem;
}
.mg-bottom-200 {
  margin-bottom: 2rem;
}
.mg-bottom-300 {
  margin-bottom: 3.5rem;
}
.mg-bottom-400 {
  margin-bottom: 5rem;
}

/* Icon Links */
.icon-container {
  display: flex;
  gap: 1.7rem;
}
.icon-link {
  color: var(--clr-white-300);
  font-size: var(--font-size-300);
  transition: all 0.2s ease;
}
.icon-link:hover {
  color: var(--clr-orange-200);
  transform: scale(1.2);
  text-shadow: 0 0 10px var(--clr-orange-200);
}
/* interested */
.interest-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.interest {
  color: var(--clr-orange-100);
  font-size: var(--font-size-100);
  border: 1px solid var(--clr-orange-100);
  border-radius: 50px;
  padding: 20px 30px;
  text-align: center;
}
.interest > i {
  margin-right: 10px;
}
/* Button */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--clr-black-200);
  font-size: var(--font-size-200);
  color: var(--clr-white-200);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: var(--border-radius-100);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--clr-black-300);
}
.btn-block {
  width: 100%;
}
.btn > i {
  font-size: calc(var(--font-size-200) - 10px);
}
/* Card job Details*/
.card {
  padding: 5rem;
  border-radius: var(--border-radius-300);
  background: linear-gradient(
    to right,
    var(--clr-black-100),
    var(--clr-black-300)
  );
}
.card:nth-child(even) {
  background: linear-gradient(
    to right,
    var(--clr-black-300),
    var(--clr-black-100)
  );
}
.card-header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.card-header::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--clr-white-300);
  border-radius: 50%;
}
.card-header > span {
  letter-spacing: 2px;
}
.card > .link {
  color: #ee790b;
  font-size: var(--font-size-100);
}
.link > i {
  font-size: calc(var(--font-size-100) - 5px);
  margin: 1px 0 0 5px;
  transition: margin 0.2s ease;
}
.link:hover {
  color: var(--clr-orange-300);
}
.link:hover > i {
  margin: 1px 0 0 10px;
}
/* Job card */
.card-form {
  padding: 4rem;
  border-radius: var(--border-radius-300);
  border: 1px solid var(--clr-black-300);
}
.job {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem 0;
  border-bottom: 1px solid var(--clr-black-300);
}
.company-logo {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  outline: 2px solid var(--clr-black-300);
  outline-offset: 2px;
}
.company-logo > img {
  width: 100%;
}
.position-name {
  flex-grow: 1;
}
/* card submit */
.email-card {
  display: flex;
  gap: 0.5rem;
}
.email-card > input {
  width: 100%;
  border-radius: var(--border-radius-100);
  padding: 1rem;
  background-color: var(--clr-black-200);
  border: 1px solid gray;
  outline: none;
  font-size: var(--font-size-200);
  color: var(--clr-white-300);
  overflow: hidden;
}
/* navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  position: fixed;
  width: 100%;
}
.profile {
  width: 60px;
  height: 60px;
  background-color: var(--bg-tranparent--);
  border-radius: 50%;
  overflow: hidden;
  backdrop-filter: blur(10px);
}
.profile > img {
  width: 100%;
}
.toggle {
  width: 50px;
  height: 50px;
  color: white;
  background-color: var(--bg-tranparent--);
  font-size: var(--font-size-300);
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 50%;
  backdrop-filter: blur(10px);
}
.nav-list {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-tranparent--);
  border-radius: var(--border-radius-100);
  margin-top: 2rem;
  padding: 2.5rem;
  backdrop-filter: blur(10px);
}
.nav-list.active {
  display: flex;
}
.nav-link {
  font-size: var(--font-size-200);
  letter-spacing: 2px;
  padding: 1.3rem 0;
  border-bottom: 1px solid var(--clr-black-300);
}
.nav-link > a {
  color: var(--clr-white-200);
}
@media screen and (min-width: 650px) {
  .toggle {
    display: none;
  }
  .nav-list {
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 550px;
    right: 50%;
    top: 50px;
    transform: translateX(50%);
    gap: 2rem;
    padding: 0.5rem 3rem;
    border: 1px solid var(--clr-black-300);
    border-radius: 100px;
    backdrop-filter: blur(10px);
  }
  .nav-link {
    border: none;
  }
  .profile {
    position: fixed;
    top: 50px;
    left: 50px;
    backdrop-filter: blur(10px);
  }
  .nav-link:hover > a {
    color: var(--clr-orange-200);
  }
}
@media screen and (min-width: 650px) and (max-width: 850px) {
  .profile {
    display: none;
  }
}
/* Hero section */
.hero-section {
  padding: 11rem 2rem 2rem;
}
@media screen and (min-width: 650px) {
  .hero-section {
    padding: 19rem 10rem 10rem;
  }
}
/* Hobby Section */
.hobby-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 25rem 0;
  background: linear-gradient(
      to bottom,
      var(--clr-black-100),
      rgba(87, 38, 0, 0.4),
      var(--clr-black-100)
    ),
    url(./svg/bg-gradient-color.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Job Section */
.job-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.grid-container {
  display: grid;
  gap: 2rem;
  padding: 0 2rem;
}
@media screen and (min-width: 900px) {
  .grid-container {
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
      "a b"
      "c b"
      "d e";
  }
  .grid-container > :nth-child(4) {
    grid-area: b;
  }
  .grid-container > article {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .grid-container {
    padding: 0 10rem;
  }
}
/* footer */
.footer {
  border-top: 1px solid var(--clr-black-300);
  padding: 7rem;
  margin-top: 5rem;
}
.footer > .icon-container {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 650px) {
  .footer > .icon-container {
    justify-content: center;
  }
}
