:root {
  font-size: 62.5%;

  --font-size-100: 1.3rem;
  --font-size-200: 1.8rem;
  --font-size-300: 2.5rem;
  --font-size-400: 3.5rem;
  --font-size-500: 3.7rem;

  --clr-white-100: #ffffff;
  --clr-white-200: #e2e2e2;
  --clr-white-300: #c4c4c4;
  --clr-black-100: #1d1c1a;
  --clr-black-200: #302e29;
  --clr-black-300: #585854;
  --clr-orange-100: #ff7b00;
  --clr-orange-200: #ee790b;
  --clr-orange-300: #b45700;
  --bg-tranparent--: rgba(49, 49, 49, 0.5);

  --border-radius-100: 10px;
  --border-radius-200: 20px;
  --border-radius-300: 30px;
}
@media screen and (min-width: 768px) {
  :root {
    --font-size-100: 1.5rem;
    --font-size-200: 2rem;
    --font-size-300: 2.7rem;
    --font-size-400: 3.7rem;
    --font-size-500: 5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-black-100);
  color: var(--clr-white-100);
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* Font-Size */
.big-heading {
  font-size: var(--font-size-500);
}
.small-heading {
  font-size: var(--font-size-300);
}
.icon-heading {
  display: flex;
  font-size: var(--font-size-300);
  color: var(--clr-white-300);
  gap: 1.5rem;
}
.heading {
  /* font-weight: normal; */
  font-size: var(--font-size-400);
}
.txt {
  font-size: var(--font-size-200);
}
.big-txt {
  font-size: var(--font-size-300);
}
.small-txt {
  font-size: var(--font-size-100);
}

/* Text COlors */
.white {
  color: var(--clr-white-100);
}
.gray {
  color: var(--clr-white-300);
}
.orange {
  color: var(--clr-orange-100);
}

/* Text Gradient Colors */
.gradient-one {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--clr-orange-100),
    rgb(55, 255, 255)
  );
  -webkit-background-clip: text;
}
.gradient-two {
  color: transparent;
  background: linear-gradient(to right, var(--clr-orange-100), white);
  -webkit-background-clip: text;
}

/* Margin */
.mgy-100 {
  margin: 1rem 0;
}
.mgy-200 {
  margin: 2rem 0;
}
.mgy-300 {
  margin: 3.5rem 0;
}
.mg-top-100 {
  margin-top: 1rem;
}
.mg-top-200 {
  margin-top: 2rem;
}
.mg-top-300 {
  margin-top: 3.5rem;
}
.mg-bottom-100 {
  margin-bottom: 1rem;
}
.mg-bottom-200 {
  margin-bottom: 2rem;
}
.mg-bottom-300 {
  margin-bottom: 3.5rem;
}
.mg-bottom-400 {
  margin-bottom: 5rem;
}

/* Icon Links */
.icon-container {
  display: flex;
  gap: 1.5rem;
}
.icon-link {
  color: var(--clr-white-200);
  font-size: var(--font-size-300);
}
/* interested */

/* Button */

/* Card job*/

/* Job card */

/* card submit */

/* navbar section */

/* Hero section */

/* Hobby Section */

/* Job Section */

/* footer */
